<section class="about">
  <h2>About Me</h2>
  <div class="about-content">
    <div class="about-text">
      <p class="justified-text">
        Hello! I'm Yukthish, a software developer based in India, currently working at Siemens. 
        I enjoy creating and building applications related to real-world problems 
        and improve user experiences.
      </p>
      <p class="justified-text">
        With hands-on experience in projects like Tour-Easy, a personalized travel 
        advisor app, and an AI-powered interview monitoring system, I've developed a 
        strong passion for leveraging technology to make meaningful contributions. 
        My journey has been about combining creativity and technical expertise to deliver impactful 
        results.
      </p>
      <p>Here are a few technologies I've been working with recently:</p>
      <ul class="skills-list">
        <li>JavaScript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Python</li>
        <li>Java</li>
      </ul>

    <p class="justified-text">Beyond coding, I enjoy playing football, guitar and traveling. 
      I'm always eager to see new challenges!</p>

    </div>
  </div>
</section>