<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .home {
            position: relative;
            display: flex;
            height: 100vh;
            padding: 0 50px;
        }
        .content {
            width: 60%;
        }
        .yr-text {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 250px;
            color: rgba(100, 255, 218, 0.1);
            font-weight: bold;
        }
    </style>
</head>
<body>
    <section class="home">
        <div class="content">
            <p class="greeting">Hi, my name is</p>
            <h1>Yukthish R</h1>
            <p class="description">
                I'm a software developer and tech enthusiast currently working in 
                <span style="color:#64ffda; font-weight:700;">SIEMENS</span>.
            </p>
            <a href="projects" class="btn">Check out my work!</a>
        </div>
        <div class="yr-text">YR</div>
    </section>
</body>
</html>