.projects {
  padding-top: 120px;
}

.projects-grid {
  display: grid;
  gap: 40px; 
  grid-template-columns: repeat(2, 1fr); 
  justify-items: center; 
}

.project-card {
  display: flex;
  flex-direction: column; 
  width: 100%; 
  max-width: 500px;
}

.justified-text {
  text-align:justify;

}


.project-content {
  background-color: #112240;
  padding: 25px;
  border-radius: 4px;
  color: #a8b2d1;
  margin-bottom: 20px;
}

.project-title {
  color: #ccd6f6;
  font-size: 28px;
  margin-bottom: 15px;
}

.project-description {
  font-size: 16px;
  margin-bottom: 15px;
}

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.project-tech-list li {
  color: #8892b0;
  font-size: 13px;
}

.project-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
  
  .project-card {
    max-width: 100%; 
  }
}
.projects-grid > .project-card:nth-child(3) {
  grid-column: span 2; 
  justify-self: center; 
}
