<section class="projects">
  <h2>Some Things I've Built</h2>
  <div class="projects-grid">
    <div class="project-card">
      <div class="project-content">
        <h3 class="project-title">
          <img class="project-logo" src="https://img.icons8.com/?size=96&id=108778&format=png"> <!-- Add Image URL Here -->
          Tour Easy
        </h3>
        <div class="project-description">
          <p class="justified-text">A mobile application that uses API to provide users with personalized travel recommendations based 
            on their preferences and generating a schedule to optimize their time.</p>
        </div>
      </div>
      <ul class="project-tech-list">
        <li>React Native</li>
        <li>API</li>
      </ul>
    </div>
  
    <div class="project-card">
  <div class="project-content">
    <h3 class="project-title">
      <img class="project-logo" src="https://img.icons8.com/?size=96&id=20730&format=png">
      AI-enhanced IMPA
    </h3>
    <div class="project-description">
      <p class="justified-text">AI-enhanced Interview Monitoring and Personality Analysis system, employing machine for thorough candidate assessment, transforming recruiting methods for informed hiring decisions.</p>

    </div>
  </div>
  <ul class="project-tech-list">
   
    <li>HTML</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>Flask</li>
  </ul>
</div>

    <div class="project-card">
      <div class="project-content">
        <h3 class="project-title">
          <img class="project-logo" src="https://img.icons8.com/?size=96&id=z0NKb3MwQ0Rx&format=png"> <!-- Add Image URL Here -->
            Budget Bee
        </h3>
        <div class="project-description">
          <p class="justified-text">Budget Bee is an Angular-based web app for tracking expenses and managing budgets. It offers a user-friendly interface to help users monitor spending, set financial goals, and visualize their financial health. Perfect for anyone looking to improve their budgeting skills!</p>
        </div>
      </div>
      <ul class="project-tech-list">
        <li>Angular</li>
        <li>Spring Boot</li>
        <li>PostgreSQL</li>
  
      </ul>
    </div>
  </div>
</section>